@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Nunito, sans-serif;
  --font-pt-sans: PT Sans, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-weight-light: 700;
  --font-weight-normal: 700;
  --font-weight-medium: 700;
  --font-weight-semibold: 700;
  --font-serif: PT Serif, serif;
  --shadow-xs: 0 2px 0 0 var(--border);
  --shadow-sm: 0 2px 0 0 var(--border);
  --shadow-md: 0 2px 0 0 var(--border);
  --shadow-lg: 0 2px 0 0 var(--border);
  --shadow-xl: 0 2px 0 0 var(--border);
  --shadow-2xl: 0 2px 0 0 var(--border);
  --shadow-3xl: 0 2px 0 0 var(--border);
  --color-destructive-border: var(--destructive-border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary-border: var(--primary-border);
}

:root {
  --radius: 0.625rem;
  --background: #f1dfbe;
  --foreground: #61450f;
  --card: #f2e3c6;
  --card-foreground: #634311;
  --popover: #f2e3c6;
  --popover-foreground: #634311;
  --primary: #a3a85e;
  --primary-foreground: #fcf7f8;
  --secondary: #e9d5af;
  --secondary-foreground: #7e612f;
  --muted: #e5cea2;
  --muted-foreground: #805f30;
  --accent: #e2cfa9;
  --accent-foreground: #2b2124;
  --destructive: #f9281d;
  --border: #c0a77e;
  --input: #c0a77e;
  --ring: #805f30;
  --chart-1: #ed5f1a;
  --chart-2: #00b3a3;
  --chart-3: #006b7a;
  --chart-4: #ffc100;
  --chart-5: #f68e00;
  --sidebar: #e7d2a9;
  --sidebar-foreground: #61450f;
  --sidebar-primary: #2b2124;
  --sidebar-primary-foreground: #fcf7f8;
  --sidebar-accent: #d9c59d;
  --sidebar-accent-foreground: #2b2124;
  --sidebar-border: #e4e0e1;
  --sidebar-ring: #a4a0a1;
  --primary-border: #7f833a;
  --destructive-foreground: #fff0f4;
  --destructive-border: #a00000;
}

.dark {
  --background: #61450f;
  --foreground: #f1dfbe;
  --card: #634311;
  --card-foreground: #f2e3c6;
  --popover: #634311;
  --popover-foreground: #f2e3c6;
  --primary: #fcf7f8;
  --primary-foreground: #a3a85e;
  --secondary: #7e612f;
  --secondary-foreground: #e9d5af;
  --muted: #805f30;
  --muted-foreground: #e5cea2;
  --accent: #2b2124;
  --accent-foreground: #e2cfa9;
  --destructive: #f9281d;
  --border: #c0a77e;
  --input: #c0a77e;
  --ring: #805f30;
  --chart-1: #ed5f1a;
  --chart-2: #00b3a3;
  --chart-3: #006b7a;
  --chart-4: #ffc100;
  --chart-5: #f68e00;
  --sidebar: #61450f;
  --sidebar-foreground: #e7d2a9;
  --sidebar-primary: #fcf7f8;
  --sidebar-primary-foreground: #2b2124;
  --sidebar-accent: #2b2124;
  --sidebar-accent-foreground: #d9c59d;
  --sidebar-border: #e4e0e1;
  --sidebar-ring: #a4a0a1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-weight: var(--font-weight-bold);
  }
  .border {
    border-width: 2px !important;
  }
  .border-l {
    border-left-width: 2px !important;
  }
  .border-r {
    border-right-width: 2px !important;
  }
  .border-t {
    border-top-width: 2px !important;
  }
  .border-b {
    border-bottom-width: 2px !important;
  }
  .shadow-primary {
    box-shadow: 0 2px 0 0 var(--primary-border);
  }
  .shadow-destructive {
    box-shadow: 0 2px 0 0 var(--destructive);
  }
  .shadow-destructive-border {
    box-shadow: 0 2px 0 0 var(--destructive-border);
  }
  .texture {
    background-image: url(https://matsu-theme.vercel.app/texture.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.12;
    mix-blend-mode: multiply;
    z-index: 100;
    isolation: isolate;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
  }
}

@layer utilities {
  .h1-bold {
    @apply text-[30px] leading-[42px] font-bold tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] leading-[31.2px] font-bold;
  }

  .h2-semibold {
    @apply text-[24px] leading-[31.2px] font-semibold;
  }

  .h3-bold {
    @apply text-[20px] leading-[26px] font-bold;
  }

  .h3-semibold {
    @apply text-[20px] leading-[24.8px] font-semibold;
  }

  .base-medium {
    @apply text-[18px] leading-[25.2px] font-medium;
  }

  .base-semibold {
    @apply text-[18px] leading-[25.2px] font-semibold;
  }

  .base-bold {
    @apply text-[18px] leading-[140%] font-bold;
  }

  .paragraph-regular {
    @apply text-[16px] leading-[22.4px] font-normal;
  }

  .paragraph-medium {
    @apply text-[16px] leading-[22.4px] font-medium;
  }

  .paragraph-semibold {
    @apply text-[16px] leading-[20.8px] font-semibold;
  }

  .body-regular {
    @apply text-[14px] leading-[19.6px] font-normal;
  }

  .body-medium {
    @apply text-[14px] leading-[18.2px] font-medium;
  }

  .body-semibold {
    @apply text-[14px] leading-[18.2px] font-semibold;
  }

  .body-bold {
    @apply text-[14px] leading-[18.2px] font-bold;
  }

  .small-regular {
    @apply text-[12px] leading-[15.6px] font-normal;
  }

  .small-medium {
    @apply text-[12px] leading-[15.6px] font-medium;
  }

  .small-semibold {
    @apply text-[12px] leading-[15.6px] font-semibold;
  }

  .subtle-medium {
    @apply text-[10px] leading-[13px] font-medium;
  }

  .subtle-regular {
    @apply text-[10px] leading-[13px] font-normal;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
